<header
  class="container flex h-14 max-w-screen-2xl items-center justify-center"
>
  <nav class="flex items-center gap-4 text-md lg:gap-6">
    <a
      class="transition-colors hover:text-foreground/80 text-foreground/60"
      href="/">Estudiante</a
    >
    <a
      class="transition-colors hover:text-foreground/80 text-foreground/60"
      href="/curso">Curso</a
    >
    <a
      class="transition-colors hover:text-foreground/80 text-foreground/60"
      href="/matricula">Matriculas</a
    >
  </nav>
</header>
