<div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th scope="col" class="px-4 py-2 text-start text-xs font-medium text-gray-500 uppercase">Nombre completo</th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">cedula</th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">telefono</th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Email </th>

            </thead>
            <tbody class="divide-y divide-gray-200">
              <tr>
                <td class="bg-blue-100 px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">Elkin Alejandro Barrios Duarte</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"> </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"> </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"> </td>
                <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">

              </tr>
  
              <tr>
                <td class="px-6 py-2 whitespace-nowrap text-sm font-medium text-gray-800">Carlos Julio Hernández De La Cruz</td>
                <td class="bg-orange-100 px-6 py-4 whitespace-nowrap text-sm text-gray-800"> </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"> </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"> </td>
                <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
              </tr>
  
              <tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  